<li>
	{{dataValues.burger_name}}

	<button class="change-eaten btn btn-dark" data-id="{{dataValues.id}}" data-newEaten="{{eaten}}">
		{{#if eaten}}opps!{{else}}Devoure it!{{/if}}
	</button>
      
</li>